<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <!-- post must include a div with id "labellanguages"-->
  {% if page.use_labellanguages %}
  <script type="text/javascript" src="_includes/labellanguages.js"></script>
  <script>
  $(document).ready(function () {
        document.getElementById('labellanguages').appendChild(diagramFragment());});
  </script>
  {% endif %}
  {% if page.use_sgvizler %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://mgskjaeveland.github.io/sgvizler/v/0.6/sgvizler.js"></script>
  <script>
  sgvizler
  .prefix("meta", "http://www.snik.eu/ontology/meta/")
  .prefix("ob", "http://www.snik.eu/ontology/ob/")
  .prefix("bb", "http://www.snik.eu/ontology/bb/")
  .defaultEndpointURL("https://www.snik.eu/sparql")
  .defaultChartFunction("sgvizler.visualization.PieChart")
  .defaultChartHeight(400);

  $(document).ready(
    function (){ sgvizler.containerDrawAll(); }
  );
  </script>
  {% endif %}
  {% if page.use_math %}
  {% include mathjax_support %}
  {% endif %}
</head>
