<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/IMISE/snik-ontology/tree/gh-pages" class="btn">View on GitHub</a>
  <a href="https://github.com/IMISE/snik-ontology/archive/master.zip" class="btn">Download .zip</a>
    {% for post in site.posts %}
  <!--    {{ post.date | date_to_string }} -->
  <a href="{{ site.baseurl }}{{ post.url }}" class="btn">{{ post.title }}</a></li>
    {% endfor %}
</section>
